body {
    background-color: white;
}
.navbar {
    display: flex;
    justify-content:space-evenly;
    background-color:maroon;
    margin-top: 100px;
    border-radius: 0px;
}
.btn {
  background-color:peachpuff;
  color: black;
  padding: 16px 32px;
  text-align: right;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.6;
  border-radius: 5px;
}
.newsletter {
    text-align: center;
}
.contact-form {
  width: 10%; 
  padding: 5px;
  border: 10px;
  border-radius: 40px; 
  margin-top: 6px; 
  margin-bottom: 20px;
  resize: vertical;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 50vh; 

}
.input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input[type=submit]:hover {
  background-color: #45a049;
}
.contact-form {
border-radius: 5px;
  background-color:bisque;
  padding: 20px;
}
.copyright {
    text-align: left;
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 0px;
  text-align: center;
  text-decoration: none;
  
}
.fa-facebook {
  background: #3B5998;
  color: white;
   display: flex;
   align-items: center;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  display: flex;
  align-items: center;
}
.fa-instagram {
  background:brown;
  color: white;
}
.fa-linkedin {
  background:orange;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}

.contact {
    text-align: right;
}